files:
  "/etc/logrotate.d/supervisor":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/supervisor/*.log {
          daily
          rotate 7
          compress
          delaycompress
          missingok
          notifempty
          copytruncate
      }

  "/etc/logrotate.d/nginx":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/*.log {
          daily
          rotate 7
          compress
          delaycompress
          missingok
          notifempty
          copytruncate
      }

  "/etc/cron.d/logrotate":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * * root /usr/sbin/logrotate /etc/logrotate.conf
